body{
    background-color: rgb(87, 7, 7);
    color: papayawhip;
    font-family: lobster;
    
}
    h2{
        text-align: center;
        font-size: 40px;
    }
   .filme
   {
    text-align: center;
   }

   .cartaz{
    width: 60%;
    height: 15em;
    
   } 
   .cartaz-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
   }
   
   .link{
   color: papayawhip ;
   font-size: 22px;
   }

   .imagem-informacao{
    width: 20%;
    height: 15em;
   }

   .texto-informacao{
    color: peachpuff;
    font-size: 25px;
    font-family: lobster ;
   }
